<div class="container registration">
  <div class="row">
    <div class="col-sm-12">
      <p class="text-center">Your Yodalized message!</p>

<p align="center"><% @texts.each do |text| %>
  <%= text.message %><br>
  <%= text.yodalized_message %>
 <% end %></p>


    </div>
  </div>
</div>