<div class="container registration">
  <div class="row">
    <div class="col-sm-12">
      <p class="text-center">Create your Yodalized message!</p>
      
      <form class="login-form" action="/messages" method="post">
        <textarea name="message" class="form-control" id="message" rows="5" placeholder="Enter a message!"></textarea>
        <p>
          
        </p>
       <input type="submit" class="btn btn-default login-button center-block" value="Yodalize it!">
     </form>
   </div>
 </div>
</div>