<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <center><img src="yoda.png" width="250px" height="250px"></center>
      <%= erb :_new_messages, :layout => false %>
      <%= erb :_display_messages, :layout => false %>
    </div>
  </div>
  
</div>
