<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    loads bootstrap
  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- favicon -->
  <link rel="icon" href="https://openclipart.org/image/2400px/svg_to_png/227445/Yoda.png">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Yodalize</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        
          <div class="navbar-brand">
          <p><img src="https://openclipart.org/image/2400px/svg_to_png/227445/Yoda.png" width="25px" height="25px">Yodalize</p>
          </div>
       
          <div class="navbar-brand">

          </div>
        
      </div>
   
  </nav>

  <%= yield %>


</body>
</html>
